{% extends "base.html" %}

{% block content %}
<div class="bg-image normal-text">
    <div class="structure">
        <img class="splash-logo" src="static/logo.png">
        <div class="banner">
            <div class="banner-text">Introducing Otto.</div>
            <div class="banner-tag-line">Collaborative, automated scheduling software
            for small and medium-size businesses.
            </div>
        </div>
        <div class="splash-text p-left">Lay out schedules quickly using powerful shift templating tools.</div>
        <div class="splash-text center">Allow employees to enter their preferences and availability for every shift.</div>
        <div class="splash-text p-right">Automatically create schedules you and your team will love in a single click.</div>

        <div class="small-arrow-one">
            <img class="small-arrow-one-img" src="static/arrow-right.png">
        </div>

        <div class="small-arrow-two">
            <img class="small-arrow-two-img" src="static/alt_arrow_right.png">
        </div>
        <div class="signup-form">
            <div class="signup-left-spacer"></div>
            <div class="signup-text">
                <h4 class="signup-text-field normal-text">Interested? Let us know!</h4>
            </div>
            <input class="signup-field signup-first" placeholder="First Name">
            <input class="signup-field signup-last" placeholder="Last Name">
            <input class="signup-field signup-email" placeholder="Email">
            <button id="signup-submit-btn" type="button" class="signup-submit-btn">&raquo;</button>
            <div class="signup-right-spacer"></div>
        </div>
        <div class="laptop-screen"></div>

    </div>
    <!--
    <div class="structure">
        <div class="splash panel">
            <div class="logo">
                <img class="splash-logo" src="static/logo.svg">
            </div>
        </div>
        <div class="signup panel">
            <div class="signup-text">
                <h3 class="signup-text-field">Interested? Let us know!</h3>
            </div>
            <div class="signup-item">
                <input class="signup-field signup-first" placeholder="First Name">
            </div>
            <div class="signup-item">
                <input class="signup-field signup-last" placeholder="Last Name">
            </div>
            <div class="signup-item">
                <input class="signup-field signup-email" placeholder="email">
            </div>
            <div class="signup-item">
                <button type="button" class="signup-submit-btn">&raquo;</button>
            </div>
        </div>
        <div class="small-info panel">Info Panel 1</div>
        <div class="small-info panel">Info Panel 2</div>
        <div class="small-info panel">Info Panel 3</div>
        <div class="small-info panel">Info Panel 4</div>
        <div class="buffer"></div>
        <div class="big-info panel">Big Info 1</div>
        <div class="med-info panel">Med Info 1</div>
        <div class="med-info panel">Med Info 2</div>
        <div class="big-info panel">Big Info 2</div>
    </div>
    -->
</div>
<div class="bg-color normal-text">
    <div class="secondary-structure">

        <div class="title">
            Features
        </div>

        <div class="med-info">
            <div class="head">
                Templates
            </div>
            <p>
                Select a schedule from your preferred templates or create an entirely new one from scratch.
            </p>
        </div>

        <div class="med-info">
            <div class="head">
                Shifts
            </div>
            <p>
                Add and edit all of the shifts you need for each day. Select how many employees you need for each shift.
                Do you have the same shift on multiple days? Use recurrence to add that shift to any day of your choice
                in one click.
            </p>
        </div>

        <div class="med-info">
            <div class="head">
                Employees
            </div>
            <p>
                Add your employees. Is someone on vacation? Ill? Terminal? Simply select toggle their availability
                and that employee will not be added to the schedule.
            </p>
        </div>

        <div class="med-info">
            <div class="head">
                Relax
            </div>
            <p>
                Ready? Click GO and each employee will be sent their eligible shifts
                and the option to select their preference for each one. At a day of your choosing,
                these preferences are collected and our algorithm renders them into a complete and optimal schedule!
            </p>
        </div>

        <div class="icon">
            <img src="static/select_schedule.png" class="icon-img">
        </div>
        <div class="icon">
            <img src="static/select_shifts.png" class="icon-img">
        </div>
        <div class="icon">
            <img src="static/select_prefs.png" class="icon-img">
        </div>
        <div class="icon">
            <img src="static/create_schedule.png" class="icon-img">
        </div>

        <!--
        <div class="left-arrow">
            <img class="left-arrow-img" src="static/arrow_left.png">
        </div>
        <div class="title">4 easy steps.</div>
        -->

    </div>
</div>
{% endblock content %}