{% extends "base.html" %}

{% block content %}
<div class="bg-image normal-text">
    <div class="structure">
        <img class="splash-logo" src="static/logo_white.png">
        <div class="banner-text">
            <span class="yellow text-outline">Mosaic.</span>
            <br>
            <span class="dark-blue text-outline">Stop wasting time.</span>
        </div>

        <div class="opaque"></div>
        <div class="mask">
            <div class="blurred-background"></div>
        </div>

        <!--
        <div class="small-arrow-one">
            <img class="small-arrow-one-img" src="static/arrow-right.png">
        </div>

        <div class="small-arrow-two">
            <img class="small-arrow-two-img" src="static/alt_arrow_right.png">
        </div>
        -->

        <!--
        <div class="signup-form">
            <div class="signup-left-spacer"></div>
            <div class="signup-text">
                <h4 class="signup-text-field normal-text">Interested? Let us know!</h4>
            </div>
            <input class="signup-field signup-first" placeholder="First Name">
            <input class="signup-field signup-last" placeholder="Last Name">
            <input class="signup-field signup-email" placeholder="Email">
            <button id="signup-submit-btn" type="button" class="signup-submit-btn">&raquo;</button>
            <div class="signup-right-spacer"></div>
        </div>
        -->

        <div class="bullet-points">
            <ul class="features-list">
                <li class="feature-item">Set up scheduling templates</li>
                <li class="feature-item">Let employees select their preferred shifts</li>
                <li class="feature-item">Automatically generate optimal schedules</li>
                <li class="feature-item">Be a feckless cunt. You've earned it.</li>
            </ul>
        </div>

        <div class="signup-form">
            <div class="signup-text">
                Interested? Let us know!
            </div>
            <input class="signup-field signup-first" placeholder="First Name">
            <input class="signup-field signup-last" placeholder="Last Name">
            <input class="signup-field signup-email" placeholder="Email">
            <button id="signup-submit-btn" type="button" class="signup-submit-btn">Keep me updated!</button>
        </div>
        <div class="form-opaque"></div>

    </div>
    <!--
    <div class="structure">
        <div class="splash panel">
            <div class="logo">
                <img class="splash-logo" src="static/logo.svg">
            </div>
        </div>
        <div class="signup panel">
            <div class="signup-text">
                <h3 class="signup-text-field">Interested? Let us know!</h3>
            </div>
            <div class="signup-item">
                <input class="signup-field signup-first" placeholder="First Name">
            </div>
            <div class="signup-item">
                <input class="signup-field signup-last" placeholder="Last Name">
            </div>
            <div class="signup-item">
                <input class="signup-field signup-email" placeholder="email">
            </div>
            <div class="signup-item">
                <button type="button" class="signup-submit-btn">&raquo;</button>
            </div>
        </div>
        <div class="small-info panel">Info Panel 1</div>
        <div class="small-info panel">Info Panel 2</div>
        <div class="small-info panel">Info Panel 3</div>
        <div class="small-info panel">Info Panel 4</div>
        <div class="buffer"></div>
        <div class="big-info panel">Big Info 1</div>
        <div class="med-info panel">Med Info 1</div>
        <div class="med-info panel">Med Info 2</div>
        <div class="big-info panel">Big Info 2</div>
    </div>
    -->
</div>
<div class="bg-color normal-text">
    <div class="secondary-structure">
        <div class="med-info">
            <div class="head">
                Templates
            </div>
            <p>
                Select a schedule from your preferred templates or create an entirely new one from scratch.
            </p>
        </div>

        <div class="med-info">
            <div class="head">
                Shifts
            </div>
            <p>
                Add and edit all of the shifts you need for each day. Select how many employees you need for each shift.
                Do you have the same shift on multiple days? Use recurrence to add that shift to any day of your choice
                in one click.
            </p>
        </div>

        <div class="med-info">
            <div class="head">
                Employees
            </div>
            <p>
                Add your employees. Is someone on vacation? Ill? Terminal? Simply select toggle their availability
                and that employee will not be added to the schedule.
            </p>
        </div>

        <div class="med-info">
            <div class="head">
                Relax
            </div>
            <p>
                Ready? Click GO and each employee will be sent their eligible shifts
                and the option to select their preference for each one. At a day of your choosing,
                these preferences are collected and our algorithm renders them into a complete and optimal schedule!
            </p>
        </div>

        <div class="icon">
            <img src="static/select_schedule.png" class="icon-img">
        </div>
        <div class="icon">
            <img src="static/select_shifts.png" class="icon-img">
        </div>
        <div class="icon">
            <img src="static/select_prefs.png" class="icon-img">
        </div>
        <div class="icon">
            <img src="static/create_schedule.png" class="icon-img">
        </div>

        <!--
        <div class="left-arrow">
            <img class="left-arrow-img" src="static/arrow_left.png">
        </div>
        <div class="title">4 easy steps.</div>
        -->


    </div>

    <!--
    <div class="bg-color-two">
    <div class="structure">
        <div class="splash-text far-left">"I was happy with the software, but even happier with Abel's looks."</div>
        <div class="splash-text left">Lay out schedules quickly using powerful shift templating tools.</div>
        <div class="splash-text center">Allow employees to enter preferences and availability for every shift.</div>
        <div class="splash-text right">Automatically create schedules you and your team will love in a single click.</div>
        <div class="splash-text far-right">"Mosaic Scheduling is the bomb. Abel Romer: so handsome!"</div>
    </div>
    -->
</div>
<div class="cascade bg-cascade">
    <div class="cascade-row">
        <div class="cascade-text">
            <div class="cascade-text-icon">
                <img src="static/select_employee_icon.png" class="cascade-icon-img">
            </div>
            <div class="cascade-text-heading">Cut Through The Insanity</div>
            <div class="cascade-text-body">Here is some information that we want you to know about our software.
            It is pretty good and you should use it for things. We hope you will pay us too.</div>
        </div>
        <div class="cascade-img">
            <!-- This picture needs attribution -->
            <img src="static/schedule_complexity_img.jpg" class="cascade-big-img-right">
        </div>
    </div>
    <div class="cascade-row">
        <div class="cascade-img">
            <!-- This picture needs attribution -->
            <img src="static/schedule_complexity_img.jpg" class="cascade-big-img-left">
        </div>
        <div class="cascade-text">
            <div class="cascade-text-icon">
                <img src="static/select_employee_icon.png" class="cascade-icon-img">
            </div>
            <div class="cascade-text-heading">Cut Through The Insanity</div>
            <div class="cascade-text-body">Here is some information that we want you to know about our software.
            It is pretty good and you should use it for things. We hope you will pay us too.</div>
        </div>
    </div>
    <div class="cascade-row">
        <div class="cascade-text">
            <div class="cascade-text-icon">
                <img src="static/select_employee_icon.png" class="cascade-icon-img">
            </div>
            <div class="cascade-text-heading">Cut Through The Insanity</div>
            <div class="cascade-text-body">Here is some information that we want you to know about our software.
            It is pretty good and you should use it for things. We hope you will pay us too.</div>
        </div>
        <div class="cascade-img">
            <!-- This picture needs attribution -->
            <img src="static/schedule_complexity_img.jpg" class="cascade-big-img-right">
        </div>
    </div>
    <div class="cascade-row">
        <div class="cascade-img">
            <!-- This picture needs attribution -->
            <img src="static/schedule_complexity_img.jpg" class="cascade-big-img-left">
        </div>
        <div class="cascade-text">
            <div class="cascade-text-icon">
                <img src="static/select_employee_icon.png" class="cascade-icon-img">
            </div>
            <div class="cascade-text-heading">Cut Through The Insanity</div>
            <div class="cascade-text-body">Here is some information that we want you to know about our software.
            It is pretty good and you should use it for things. We hope you will pay us too.</div>
        </div>
    </div>
</div>
<div class="skyline"></div>
<div class="about bg-about">
    <div class="about-us">
        <div class="about-us-blurb">
            <div class="about-us-blurb-header">Who We Are</div>
            <div class="about-us-blurb-body">A Vancouver-based start-up seeking to change the way that businesses
        think about employee scheduling. Founded by four graduates of Quest University Canada in Squamish, BC, we hope to leverage our backgrounds
        in mathematics and computing to ease the burden scheduling imposes on businesses while also ensuring that employees retain as much
        freedom and flexibility as possible.
            </div>
        </div>
        <div class="about-us-mission">
            <div class="about-us-mission-header">Our Mission</div>
            <div class="about-us-mission-body">We want to reduce scheduling-related strife for small and mid-size businesses. We want to reduce scheduling-related strife for small and mid-size businesses.We want to reduce scheduling-related strife for small and mid-size businesses.</div>
        </div>
        <div class="about-us-location">
            <div class="about-us-location-header">We're Local</div>
            <div class="about-us-location-body">Located in Vancouver's West end, we're able to provide on-site training and
                support for customers in Victoria and throughout Vancouver's Lower Mainland. We want to reduce scheduling-related strife for small and mid-size businesses.</div>
        </div>
    </div>
    <div class="about-staff">
        <div class="about-staff-entry">
            <img src="static/andrew.jpg" class="about-headshot">
            <div class="about-staff-bio">
                <div class="about-staff-entry-name">Abel Romer</div>
                <div class="about-staff-entry-title"><i>God of Technology</i></div>
                <div class="about-staff-entry-body">Originally from Sonoma, California, Abel is a human male with a background in applied mathematics
                and game theory. He is currently doing a lot of stuff that makes him look very competent to potential customers. Abel is
                an active cyclist and reddit browser.</div>
            </div>
        </div>
        <div class="about-staff-entry">
            <img src="static/abel.jpg" class="about-headshot">
            <div class="about-staff-bio">
                <div class="about-staff-entry-name">Abel Romer</div>
                <div class="about-staff-entry-title"><i>God of Technology</i></div>
                <div class="about-staff-entry-body">Originally from Sonoma, California, Abel is a human male with a background in applied mathematics
                and game theory. He is currently doing a lot of stuff that makes him look very competent to potential customers. Abel is
                an active cyclist and reddit browser.</div>
            </div>
        </div>
        <div class="about-staff-entry">
            <img src="static/aaron.jpg" class="about-headshot">
            <div class="about-staff-bio">
                <div class="about-staff-entry-name">Abel Romer</div>
                <div class="about-staff-entry-title"><i>God of Technology</i></div>
                <div class="about-staff-entry-body">Originally from Sonoma, California, Abel is a human male with a background in applied mathematics
                and game theory. He is currently doing a lot of stuff that makes him look very competent to potential customers. Abel is
                an active cyclist and reddit browser.</div>
            </div>
        </div>
        <div class="about-staff-entry">
            <img src="static/aaron.jpg" class="about-headshot">
            <div class="about-staff-bio">
                <div class="about-staff-entry-name">Abel Romer</div>
                <div class="about-staff-entry-title"><i>God of Technology</i></div>
                <div class="about-staff-entry-body">Originally from Sonoma, California, Abel is a human male with a background in applied mathematics
                and game theory. He is currently doing a lot of stuff that makes him look very competent to potential customers. Abel is
                an active cyclist and reddit browser.</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">© Mosaic Scheduling, LC. All rights reserved.</div>
    <div class="privacy-policy">Privacy Policy</div>
    <div class="contact-us">Contact Us</div>
    <div class="social-media-icons">
        <img src="static/twitter.png">
        <img src="static/facebook.png">
        <img src="static/linkedin.png">
        <img src="static/instagram.png">
    </div>
</div>
{% endblock content %}